.top {
    position: relative;
    border-bottom: 1px solid #eee;
    color: rgba(0, 0, 0, .65);
    font-size: 18px;
    height: 64px;
    line-height: 1;
    padding: 0 10px;
    white-space: nowrap;
}

.top-bar__img {
    margin: 0 8px 0 10px;
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
    vertical-align: middle;
}

.top-bar__left,
.top-bar__right {
    position: absolute;
    top: 0;
}

.top-bar__left {
    left: 0;
}

.top-bar__right {
    padding: 12px 0;
    right: 0;
}

.top-bar__title {
    padding-left: 220px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 400;
}

.top-bar__item {
    display: inline-block;
    margin-right: 12px;
}